<div class="row">
  <div class="col-lg">
    <div class="banner-restaurant" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/log-in-screen.jpg);">
      <div class="container">
        <h1>Sign Up</h1>
        <p>When you sign up as a business owner you can add vouchers for customers to buy.</p>
      </div>
    </div>
  </div>
  <div class="col-lg price-container devise-container">
    <%# simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "wide-simple-form"}) do |f| %>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "wide-simple-form"}) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
