<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <title>Buy Vouchers - Support Local Businesses</title>
    <meta name="description" content="Buy vouchers to support local businesses throughout Covid-19">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Voucher site - Buy vouchers">
    <meta itemprop="description" content="Support local businesses through Covid-19 by buying vouchers to redeem when they reopen.">
    <meta itemprop="image" content="https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=60.png">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://vouchersite.herokuapp.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Buy vouchers to support local businesses throughout Covid-19">
    <meta property="og:description" content="Browse restaurants and vouchers and buy vouchers which you can redeem once they reopen. ">
    <meta property="og:image" content="https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=60.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Buy vouchers to support local businesses throughout Covid-19">
    <meta name="twitter:description" content="Browse restaurants and vouchers and buy vouchers which you can redeem once they reopen. ">
    <meta name="twitter:image" content="https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=60.png">

  </head>
  <body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_SERVER_KEY']}" %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
